<a href="https://colab.research.google.com/github/SSB2000/ffc-datascience-tutorial/blob/master/ffc_04hr_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

# Intro to Pandas series

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

Pandas Series

In [ ]:
g7_pop = pd.Series([12, 21, 34, 65, 32, 65, 76])

In [ ]:
g7_pop

0    12
1    21
2    34
3    65
4    32
5    65
6    76
dtype: int64

In [ ]:
g7_pop.values

array([12, 21, 34, 65, 32, 65, 76])

In [ ]:
type(g7_pop.values)

numpy.ndarray

In [ ]:
g7_pop.name = "G7 population in millions"

In [ ]:
g7_pop

0    12
1    21
2    34
3    65
4    32
5    65
6    76
Name: G7 population in millions, dtype: int64

In [ ]:
g7_pop[0]

12

In [ ]:
g7_pop[1: 2]

1    21
Name: G7 population in millions, dtype: int64

In [ ]:
g7_pop[2:]

2    34
3    65
4    32
5    65
6    76
Name: G7 population in millions, dtype: int64

In [ ]:
g7_pop.index=[
              'Canada',
              'United States',
              'United Kingdom',
              'Italy',
              'Japan',
              'Germany',
              'France'
]

In [ ]:
g7_pop

Canada            12
United States     21
United Kingdom    34
Italy             65
Japan             32
Germany           65
France            76
Name: G7 population in millions, dtype: int64

In [ ]:
g7_pop['Canada']

12

In [ ]:
g7_pop.iloc[0]

12

In [ ]:
g7_pop['Canada' : 'Japan']

Canada            12
United States     21
United Kingdom    34
Italy             65
Japan             32
Name: G7 population in millions, dtype: int64

In [ ]:
g7_pop.iloc[1 : 3]

United States     21
United Kingdom    34
Name: G7 population in millions, dtype: int64

In [ ]:
g7_pop

Canada            12
United States     21
United Kingdom    34
Italy             65
Japan             32
Germany           65
France            76
Name: G7 population in millions, dtype: int64

# pandas series exercise

In [3]:
import numpy as np
import pandas as pd
print(pd.__version__)

1.1.5

In [5]:
pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [12]:
X = ['A', 'B', 'C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [15]:
X = pd.Series(['A','B','C'])
X.name = 'My Letter'
print(X)

0    A
1    B
2    C
Name: My Letter, dtype: object

In [16]:
print(X.values)

['A' 'B' 'C']

Series Indexation

In [22]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
print(X)
print(X[0])
print(X.iloc[0])
print(X['first'])

first     A
second    B
third     C
dtype: object
A
A
A

In [30]:
X = pd.Series(['A','B','C','D','E'], index=['first','second','third','forth','fifth'])
print(X[1:-1])
print(X.iloc[1:-1])
print(X[::-1])
print(X.iloc[::-1])
print(X.iloc[[1, -1]])
print(X[[1, -1]])

second    B
third     C
forth     D
dtype: object
second    B
third     C
forth     D
dtype: object
fifth     E
forth     D
third     C
second    B
first     A
dtype: object
fifth     E
forth     D
third     C
second    B
first     A
dtype: object
second    B
fifth     E
dtype: object
second    B
fifth     E
dtype: object

Series Manipulation

In [43]:
X = pd.Series([1,2,3,4,5], index=['first','second','third','forth','fifth'])
X = pd.Series(X, dtype=np.float)
print(X)
print('\n')
X = X[::-1]
print(X)
print('\n')
X = X.sort_values()
print(X)
print('\n')
X[4] = 10
print(X)
print('\n')
X[1:-1] = 0
print(X)
print('\n')
print(X + 5)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64


fifth     5.0
forth     4.0
third     3.0
second    2.0
first     1.0
dtype: float64


first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64


first      1.0
second     2.0
third      3.0
forth      4.0
fifth     10.0
dtype: float64


first      1.0
second     0.0
third      0.0
forth      0.0
fifth     10.0
dtype: float64


first      6.0
second     5.0
third      5.0
forth      5.0
fifth     15.0
dtype: float64

Series Boolean Array(masks)

In [47]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
print(X[X < 0])
print('\n')
print(X[X > 5])
print('\n')
print(X[X > X.mean()])
print('\n')
print(X[(X == 2) | (X == 10)])

0   -1
3   -4
8   -9
dtype: int64


5     6
9    10
dtype: int64


1     2
4     5
5     6
9    10
dtype: int64


1     2
9    10
dtype: int64

Logic Functions

In [50]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

print(X.all())
print(X.any())

False
True

Summary Statistics

In [53]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
print(X.sum())
print(X.mean())
print(X.max())

43
4.777777777777778
9